<div class="row justify-content-end w-75 m-auto" id="c-container" style="display: none;">
    <div class="col mb-3">
        <input type="text" class="form-control" id="c-box" placeholder="@ViewData["InputPlaceholder"]">
    </div>
    <div class="col-md-auto mb-3">
        <button id="check" class="btn btn-outline-light mb-2">check</button>
    </div>
</div>
<div class="container p-3 m-auto text-center w-4" id="c-msg" style="display: none;">
    <div id="msg"></div>
</div>
<div style="display: none;" id="level-info" levelname ="@ViewData["LevelName"]"/>
<script src="~/js/msg.js"></script>