<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\log\internal-log.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File" 
            name="logfile" 
            fileName=".\log\log-${shortdate}.log" 
            archiveAboveSize="262144" 
            archiveFileName=".\log\archive\log-${shortdate}.{####}.log"
            maxArchiveFiles="9"
            layout="[${longdate}]${event-properties:item=EventId_Id}@${uppercase:${level}}: ${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" 
            name="apilogfile" 
            fileName=".\log\api\log-${shortdate}.log" 
            archiveAboveSize="262144" 
            archiveFileName=".\log\api\archive\log-${shortdate}.{####}.log"
            maxArchiveFiles="9"
            layout="[${longdate}]${event-properties:item=EventId_Id}@${uppercase:${level}}: ${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" 
            name="levellogfile" 
            fileName=".\log\level\log-${shortdate}.log" 
            archiveAboveSize="262144" 
            archiveFileName=".\log\level\archive\log-${shortdate}.{####}.log"
            maxArchiveFiles="9"
            layout="[${longdate}]${event-properties:item=EventId_Id}@${uppercase:${level}}: ${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" 
            name="blocklogfile" 
            fileName=".\log\block\log-${shortdate}.log" 
            archiveAboveSize="262144" 
            archiveFileName=".\log\block\archive\log-${shortdate}.{####}.log"
            maxArchiveFiles="9"
            layout="[${longdate}]${event-properties:item=EventId_Id}@${uppercase:${level}}: ${message} ${exception:format=tostring}" />
    
    <target xsi:type="Console" name="logconsole" 
            layout="[${longdate}]${event-properties:item=EventId_Id}@${uppercase:${level}}: ${logger} ${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />
    <logger name="GZTimeServer.Controllers.APIController" minlevel="info" writeto="apilogfile"/>
    <logger name="GZTimeServer.Controllers.LevelController" minlevel="info" writeto="levellogfile"/>
    <logger name="AspNetCoreRateLimit.IpRateLimitMiddleware" minlevel="info" writeto="blocklogfile" final="true"/>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>