
@{
    ViewData["Title"] = "Ending";
}

@section Scripts{ 
    <script src="~/js/realend.js"></script>
}

<div class="container w-4 m-auto text-center p-3" id="main-container">
    <h1 class="p-5 s-0" style="display:none;">终于,还是见面了</h1>
    <p class="pb-0 s-1 mt-2" style="display:none;">你是<strong>@ViewBag.Count</strong>个人中第<strong>@ViewBag.WinCount</strong>个成功解谜的人</p>
    <p class="pb-0 s-2" style="display:none;">你的Token是：</p>
    <p class="pb-0 s-2" style="display:none;font-weight:bold">@ViewBag.Token</p>
    <p class="pb-0 s-3" style="display:none;">再次感谢你的游玩!</p>
    <p class="pb-0 s-4 mt-2" style="display:none;font-size:smaller;">QQ:1157200302</p>
    <p class="pb-0 s-4" style="display: none;font-size: smaller;">Email:gztimewalker@163.com</p>
    <p class="pb-0 s-5 mt-2" style="display: none;font-size: small;font-weight:bold;">制作人员</p>
    <p class="pb-0 s-5" style="display: none;font-size: small;font-weight:bold;">@@GZTime&nbsp;&nbsp;@@Grakepch&nbsp;&nbsp;@@烧风</p>
</div>

