
@{
    ViewData["Title"] = "Ending";
}

@section CSS{
    <link rel="stylesheet" href="~/css/end.css" />
}

@section Scripts{
    <script src="~/js/end.js"></script>
}

<div class="container w-4 m-auto text-center p-3" id="main-container">
    <h1 class="p-5 s-0" style="display:none;">又见面了</h1>
    <h2 class="pb-0 s-1" style="display:none;">感谢你的游玩</h2>
    <p class="pb-0 s-2 mt-4" style="display:none;">谢谢你经历这一切.</p>
</div>
<div class="container w-4 m-auto text-center p-3" style="display:none;">
    <input type="text" id="key" class="form-control" />
    <input type="text" id="key_text" class="form-control" />
</div>
<div class="container p-3 m-2-auto" id="c-msg" style="display:none;">
    <div id="msg"></div>
</div>