
@{
    ViewData["Title"] = "NO12";
}

@section Scripts{ 
    <script src="~/js/no12.js"></script>
}

<div class="container w-4 m-auto text-center p-3">
    <h1 class="p-5 s-1" style="display:none;">你好</h1>
    <h2 class="pb-0 s-2" style="display:none;">这里是第12关</h2>
    <p class="pb-0 s-3 mt-4" style="display:none;">已经为你进行了下一个页面的通行验证</p>
    <p class="pb-0 s-4 mt-4" style="display:none;">但是它的地址我隐藏在前面的关卡中了</p>
    <p class="pb-0 s-4 mt-4" style="display:none;">祝你好运！</p>
</div>
