
@{
    ViewData["Title"] = "Start";
}

@section Scripts {
    <script src="~/js/start.js"></script>
}

<div class="container w-4 m-auto text-center p-3">
    <h1 class="p-5 s-1" style="display:none;">GZTime's Puzzle Adventure</h1>
    <h2 class="p-2 s-2" style="display:none;">欢迎!</h2>
    <p class="pb-0 s-3 mt-4" style="display:none;">这是一段关于我的故事,期待着你的探索.</p>
    <p class="pb-0 s-3" style="display:none;cursor:default;">All stories begin with <span id="letter" style="cursor:pointer;">a letter</span>.</p>
    <p class="pb-0 s-4 mt-5" style="display:none;cursor:default;font-size:smaller">为保证后续的解密体验和相关工具的使用</p>
    <p class="pb-0 s-4 mt-0" style="display:none;cursor:default;font-size:smaller">强烈建议使用电脑网页端游玩</p>
</div>

