
@{
    ViewData["Title"] = "Time";
}

@section Scripts{ 
    <script src="~/js/time.js"></script>
}

@section CSS{ 
    <style>
        p {
            -ms-word-break: break-word;
            word-break: break-word;
            font-weight: bold;
        }
    </style>
}

<div class="container w-4 m-auto text-center p-3">
    <h2 class="s-0" style="display:none;">Back to year 2150</h2>
    <div id="0-msg" class="mt-5 pt-4 s-1" style="display:none;"></div>
</div>

